AnalyticsDashboard
Base
CampaignDesigner
MarketingCampaign
ServiceModel
Tracking
CaseService
CoreForecast
cliogate
ContentBuilder
Custom
CrtAnalyticsDashboard
CrtBase
CrtCasesInC360
CrtCore
CrtCustomer360App
CrtCustomer360Mobile
CrtDeduplication
CrtDocument
CrtEmailSender
CrtInvoiceInC360
CrtLeadOppMgmtApp
CrtOpportunityInC360
CrtOrderContractInC360
CrtRecommendedProduct
CrtSalesInC360
CrtSimilarLead
CrtSLAInC360
CrtDesignerTools
CrtNextStep
CrtNUI
CrtUIv2
Deduplication
DesignerTools
Exchange
FeatureToggling
Finesse
FolderTree
HomePage
IntegrationV2
MarketingCommon
MobileDesigner
NUI
OmnichannelMessaging
Opportunity
PivotTable
ProductCore
RelationshipDesigner
SalesEnterprise
ServiceDesigner
ServiceEnterpriseSoftkey
SsoSettings
SspWorkplace
UIv2
Workplace
XSSProtection
placeholder.txt
OpenIdAuth
StoreDemo
CSP
MLProcessDesigner
GlbDataBinding

.svn

CrtBaseFinanceInC360
CrtCampaignInC360
CrtCase7x
CrtBulkEmailInC360
CrtEngagementInC360
CrtEventInC360
CrtJunkFilter
CrtMarketingInC360
CrtSLM7x
MLSimilarCaseSearch
ProductBankCustomerJourney

CSL_MaintenanceTools

CrtC360InUiV2
CrtCampaignDesigner7x
CrtCaseManagement
CrtCaseManagementApp
CrtCaseService7x

CrtContract
CrtCustomerInfoInCaseMgmt
CrtDigitalAdsApp
CrtDynamicContent7x
CrtInvoice
CrtMatomoConnector
CrtOrderContractMgmtApp
CrtProductivityApp
CrtSLMITILService7x
CrtSmsIntegration
CrtUISwitcher
CrtBaseFinServConsts
CrtBaseFinServ
CrtCaseService
CrtCaseManagmentObject
CrtContractDocument
CrtContractVisaProvider
CrtDigitalAdsInLeadGen
CrtDocumentInOpportunity
CrtEmailMessage
CrtEngagementToolsApp
CrtEventMarketingApp
CrtFinservAccountAndCard
CrtFinservApplication
CrtFinservApplicationSources
CrtFinservContract
CrtFinservDocument
CrtFinservLead
CrtFinservOpportunity
CrtFinservProduct
CrtFinservProductSources
CrtFinservSalesAndServiceApp
CrtFinservSpecification
CrtKnowledgeManagementApp
CrtKnowledgeManagementInCaseManagement
CrtKnowledgeManagementObject
CrtMarketingCampaignsApp
CrtOmnichannelApp
CrtPlaybook
CrtPortal
CrtProductCatalogue
CrtProductSpecification
CrtSecurity
CrtSLM
CrtSLMITILService
CrtSpecification
CrtTouchInWebForm
CrtTouchPoint
LabDevelopmentFinance
MLCaseClassification
CalendarBase
CrtCalendar
CrtCoreBase
CrtBaseConsts
CrtEmailTemplate
CrtFeatureToggling
CrtMacrosBase
CrtML
CrtMLangContent

CrtContactToLeadInC360
CrtLead
CrtLeadOppMgmtInC360
CrtMLLeadConversion
CrtMLLeadScoring
CrtMLOpportunityScoring
CrtOpportunity
CrtOpportunityManagement
CrtProductBase
CrtTouchPointInC360
CrtTouchPointInLead

CrtCall
CrtMessage
CrtTouchPointBase
CrtUIPlatform
CrtUIPlatform7x
CrtWebFormBase
CrtWebhookServiceBase

Telemetry

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.dll
*.csproj